/* Dataview table 改行防止 + 横スクロール */
.markdown-preview-view table.dataview,
.markdown-source-view.mod-cm6 table.dataview {
  display: block;
  overflow-x: auto;
}

.markdown-preview-view table.dataview td,
.markdown-source-view.mod-cm6 table.dataview td {
  white-space: nowrap;
}
